title {text-align: center;}
h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
}

body{
    text-align: center;
}

